@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Layout Components */

  .do-session-layout {
    @apply grid grid-cols-3 gap-16;
  }

  .contact-session-layout {
    @apply container mx-5 w-full h-[300px];
  }

  /* Grid Components */

  .do-card-grid {
    @apply flex flex-col h-full items-center justify-evenly;
  }

  .pj-grid {
    @apply grid grid-rows-2 grid-flow-col gap-[35px] gap-y-[50px];
  }

  .contact-grid {
    @apply flex flex-row w-full h-full;
  }

  /* Card Components */

  .do-card {
    @apply w-[375px] h-[280px] bg-secondary rounded-xl shadow-lg;
  }

  .exp-card {
    @apply w-[550px] h-[120px] bg-secondary rounded-xl shadow-xl hover:animate-pulse;
  }

  .pj-card {
    @apply w-[300px] h-[280px] rounded-xl shadow-2xl bg-cover;
  }

  /* Button Components */

  .downBtn {
    @apply w-[150px] h-[40px] animate-bounce shadow-xl bg-btnColor rounded-md hover:bg-primary;
  }

  .downStyle {
    @apply text-sm text-white  transition-colors duration-200 delay-100;
  }

  .mail-btn {
    @apply animate-bounce w-[200px] h-[50px];
  }

  .mail-style {
    @apply bg-primary py-2 px-4 text-white rounded-md hover:transition-colors duration-200 delay-100 shadow-xl;
  }

  .custom-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  .w-terminal {
    width: 36rem;
  }

  pre,
  code {
    padding: 0px !important;
  }

  .hw-inner {
    width: 28rem;
    height: 28rem;
  }

  .hw-outer {
    width: 40rem;
    height: 40rem;
  }

  .anim-8s {
    animation-duration: 8s !important;
  }
}
